<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>




  <context id="MainTables" defaultModelType="flat"  targetRuntime ="MyBatis3">

    <!-- 生成するファイルの文字コードは UTF-8 -->
    <property name="javaFileEncoding" value="UTF-8" />
    <!-- mysql -->
    <property name="autoDelimitKeywords" value="true" />
    <property name="beginningDelimiter" value="`"/>
    <property name="endingDelimiter" value="`"/>


    <plugin
      type="org.mybatis.generator.plugins.SerializablePlugin" />

    <plugin
      type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" />

    <plugin
       type="jp.co.aucnet.support.mybatis.generator.plugins.PagingPlugin"/>

     <plugin
      type="jp.co.aucnet.support.mybatis.generator.plugins.OptimisticLockPlugin"/>

     <plugin
      type="jp.co.aucnet.support.mybatis.generator.plugins.RepositoryPlugin"/>

    <!-- 生成される Java ファイルのコメントに日付を付与しない -->
    <commentGenerator>
      <property name="suppressDate" value="true" />
      <property name="addRemarkComments" value="true"/>
    </commentGenerator>

    <!-- 接続先 DB -->
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
      connectionURL="jdbc:mysql://localhost:3306/test?useUnicode=yes&amp;characterEncoding=UTF-8" userId="root"
      password="" />

    <javaTypeResolver type="jp.co.aucnet.support.mybatis.generator.resovler.MySqlJavaTypeResolver">
    </javaTypeResolver>

    <!-- Model クラス及び Example クラスの生成 -->
    <javaModelGenerator targetPackage="${packageName}.business.domain"
      targetProject="src/main/java">
      <property name="rootClass" value="jp.co.aucnet.common.business.domain.AbstractBaseEntity" />
    </javaModelGenerator>

    <!-- Mapper XML ファイルの生成 -->
    <sqlMapGenerator targetPackage="${packageName}.integration.repository"
      targetProject="src/main/java">
    </sqlMapGenerator>

    <!-- Mapper インタフェースの生成 -->
    <javaClientGenerator type="XMLMAPPER"
      targetPackage="${packageName}.integration.repository" targetProject="src/main/java">

    </javaClientGenerator>

    <!-- 対象テーブルの指定 -->
    <table tableName="product" alias="" modelType="hierarchical"/>


  </context>
</generatorConfiguration>
